// Layout Colors
$primaryLight: #464646;
$primary: #323232;
$primaryDark: #2D2C2C;

$secondaryLight: #FFD12D;
$secondary: #FFC700;
$secondaryDark: #F3BF04;

$white: #fff;
$white2: #f8f8f8;
$white3: #f4f4f4;

$mutedGray: #ededed;
$lightGray: #e7e7e7;
$mediumGray: #c5c5c5;
$darkGray: #4c4c4c;
$baseGray: #898989;

$defaultRadius: 5px;

$feedbackSuccess: #1ca33d;
$feedbackLoad: #eee;
$feedbackError: #f05555;

$whatsappPrimary: #25d366;
$whatsappSecondary: #1eb456;

// Sizes
$containerPadding: 0 15px;
$containerWidth: 960px;
$containerBigWidth: 1440px;
$maxRowWidth: 2560px;

// media folders
$media_assets : "../../media/img/assets/";
$media_icons : "../../media/img/icons/";
$media_content : "../../media/img/content/";
//example: background: url(#{$media_assets}image.png);

// text
$text: #666;
$placeholderText: lighten($text, 15%);
$fontFamily__default: 'Oswald', 'Lato', 'Arial', 'Calibri', sans-serif;
$fontFamily__p: 'Lato', 'Arial', 'Calibri', sans-serif;
$fwLight: 300; 
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
