// form / alerts
$field_height: 44px;
$field_padding: 20px;
$field_radius: $field_height / 2;
$fields_borderColor: transparent;
$fields_borderColor_focus: $baseGray;
$field_bg: $white3;
$field_bg_focus: $mutedGray;
$spacer_bg: $mutedGray;
$field_checks_size: 20px;
.c-form {
    &__fieldsHero {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &.--pad5 {
            @include calcWidthForPositionNegative(-5px);
            > .c-form__field {
                padding: 5px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 10px);
                        left: 5px;
                        bottom: -20px;
                    }
                    &:after {
                        bottom: 17px;
                        right: 25px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 10px);
                left: 5px;
                margin: 5px 0;
            }
        }
        &.--pad10 {
            @include calcWidthForPositionNegative(-10px);
            > .c-form__field {
                padding: 10px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 20px);
                        left: 10px;
                        bottom: -15px;
                    }
                    &:after {
                        bottom: 22px;
                        right: 30px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 20px);
                left: 10px;
                margin: 10px 0;
            }
        }
        &.--pad15 {
            @include calcWidthForPositionNegative(-15px);
            > .c-form__field {
                padding: 15px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 30px);
                        left: 15px;
                        bottom: -10px;
                    }
                    &:after {
                        bottom: 27px;
                        right: 35px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 30px);
                left: 15px;
                margin: 15px 0;
            }
        }
        &.--pad20 {
            @include calcWidthForPositionNegative(-20px);
            > .c-form__field {
                padding: 20px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 40px);
                        left: 20px;
                        bottom: -5px;
                    }
                    &:after {
                        bottom: 32px;
                        right: 40px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 40px);
                left: 20px;
                margin: 20px 0;
            }
        }
        &.--pad25 {
            @include calcWidthForPositionNegative(-25px);
            > .c-form__field {
                padding: 25px;
                &.--file {
                    .inputAttach {
                        @include calc(width, 100%, '-', 50px);
                        left: 25px;
                        bottom: 0;
                    }
                    &:after {
                        bottom: 35px;
                        right: 45px;
                    }
                }
            }
            > .c-form__spacer {
                @include calc(width, 100%, '-', 50px);
                left: 25px;
                margin: 25px 0;
            }
        }
    }
    
    // spacer
    &__spacer {
        display: block;
        position: relative;
        height: 1px;
        background: $spacer_bg;
    }
    
    // all elements
    input, textarea, select, label, .fakeLabel {
        display: block;
        width: 100%;
    }
    
    // fields
    input, select, textarea {
        @include transition();
        @include roundedAll($field_radius);
        @include paragrafos();
        background: $field_bg;
        border: 1px solid $fields_borderColor;
        @include placeholder {
            @include labels($tc: $placeholderText);
        }
        &:focus {
            border-color: $fields_borderColor_focus;
            background: $field_bg_focus;
        }
    }
    input, select {
        height: $field_height;
        padding: 0 $field_padding;
    }
    textarea {
        padding: $field_padding;
        min-height: $field_height * 2;
        max-height: 300px;
        resize: vertical;
    }
    
    // titles & labes
    label, .fakeLabel {
        @include labels();
        margin-bottom: 4px;
        &.--withObs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .caption, strong {
                @include labels();
            }
            .obs, .observation {
                @include labels();
                font-weight: $fwLight;
            }
        }
    }
    
    // fields with modifiers
    &__field {
        position: relative;
        &.--range {
            .rangeHero {
                @include calcWidthForPositionNegative(-5px);
                display: flex;
                flex-direction: row;
            }
            .min, .max {
                padding: 0 5px;
                @include flexWidth(50%);
            }
        }
        &.--check {
            .checkHero {
                > * {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 10px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    &:first-of-type {
                        margin-top: 5px;
                    }
                }
            }
            .fakeLabel {
                margin-bottom: 8px;
            }
            label {
                @include paragrafos($tc: 16px);
                padding-left: 5px;
                cursor: pointer;
                order: 2;
            }
            input {
                @include flexWidth($field_checks_size);
                height: $field_checks_size;
                padding: 0;
                border: 0;
                order: 1;
                &:checked {
                    background: url(#{$media_icons}/icon_checked.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
            &.--checkbox {
                input {
                    @include roundedAll(4px);
                }
            }
            &.--radio {
                input {
                    @include roundedAll(50%);
                }
            }
        }
        &.--file {
            position: relative;
            .inputText {
                position: relative;
                z-index: 1;
                cursor: pointer;
                padding-right: 50px;
            }
            .inputAttach {
                //background: red;
                cursor: pointer;
                background: transparent;
                position: absolute;
                z-index: 2;
                width: 100%;
                @include opacity(0);
            }
            
            &:after {
                @include transforms(rotate(0deg), center);
                @include transition();
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                bottom: 22px;
                right: 35px;
                background: url(#{$media_icons}icon_attach.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                z-index: 1;
            }
        }
        &.--select {
            position: relative;
            * {
                @include transition(all, 0ms, linear);
            }
            .selectBox,
            .inputBox {
                @include roundedAll($field_radius);
                background: $field_bg;
                height: $field_height;
                display: block;
                position: relative;
                width: 100%;
            }
            .selectBox {
                select {
                    @include opacity(0);
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                }
            }
            .inputBox {
                z-index: 1;
                &:after {
                    @include transforms(rotate(0deg) translateY(50%), center);
                    @include transition();
                    content: '';
                    width: 12px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    bottom: 50%;
                    right: 20px;
                    background: url(#{$media_assets}caret-down.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }
            
            &.is-active {
                .selectBox {
                    select {
                        @include opacity(1);
                        background: transparent;
                        height: $field_height;
                    }
                }
                .inputBox {
                    input {
                        @include opacity(0);
                    }
                    &:after {
                        @include transforms(rotate(180deg) translateY(50%), bottom);
                    }
                }
            }
        }
        &.--select.--full {
            .selectBox {
                height: auto;
                background-color: transparent;
            }
        }
        &.--select2 {
            .select2 {
                width: 100% !important;
                position: relative;
                .selection {
                    .select2-selection {
                        &:after {
                            @include transition();
                            content: '';
                            width: 12px;
                            height: 10px;
                            display: block;
                            position: absolute;
                            bottom: ($field_height / 2) - 5px;
                            right: 20px;
                            z-index: 4;
                            background: url(#{$media_assets}caret-down.svg);
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;
                        }
                    }
                }
                &.select2-container--open {
                    .selection {
                        .select2-selection {
                            &:after {
                                @include transforms(rotate(180deg), center);
                            }
                        }
                    }
                }
            }
        }
        &.--select2.--default {
            .select2-container--default {
                .select2-selection--single {
                    @include roundedAll(0);
                    border: 0;
                    background: transparent;
                    height: $field_height;
                    .select2-selection__rendered {
                        @include paragrafos();
                        @include roundedAll($field_radius);
                        padding: 0 $field_radius;
                        border-color: $fields_borderColor;
                        background: $field_bg;
                        height: $field_height;
                        line-height: $field_height;
                    }
                    .select2-selection__placeholder {
                        @include labels($tc: $placeholderText);
                        height: $field_height;
                        line-height: $field_height;
                    }
                    .select2-selection__arrow {
                        display: none;
                    }
                }
            }
        }
        &.--select2.--multiple {
            .select2-container--default {
                .selection {
                    .select2-selection {
                        .select2-search {
                            @include roundedAll($field_radius);
                            height: $field_height;
                            display: block;
                            position: relative;
                            background: $field_bg_focus;
                            &:after {
                                content: '';
                                display: block;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top: 12px;
                                left: 20px;
                                z-index: 2;
                                background: url(#{$media_icons}icon_search.svg);
                            }
                            .select2-search__field {
                                @include transition($property: background);
                                background: $field_bg;
                                margin-top: 0;
                                margin-left: 0;
                                padding: 0 $field_padding;
                                border: 1px solid $fields_borderColor;
                                position: relative;
                                z-index: 3;
                                &:focus {
                                    border: 1px solid $fields_borderColor_focus;
                                    background-color: transparent;
                                    padding-left: 50px;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
                .select2-selection--multiple {
                    @include roundedAll(0);
                    background-color: transparent;
                    border: 0;
                    padding-bottom: 0;
                    padding-right: 0;
                }
            }
        }
        &.--btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
        &.--text {
            p {
                @include paragrafos();
            }
        }
        &.--rangeDefault {
            label {
                margin-bottom: 10px;
            }
            .rangeSlider {
                display: block;
                position: relative;
                width: 100%;
                padding-bottom: 5px;
            }
            
            .rangeSlider__range {
                width: calc(100% - (55px));
                height: 4px;
                border-radius: 2px;
                background: $field_bg_focus;
                outline: none;
                padding: 0;
                margin: 0;
            }
            .rangeSlider__range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $primary;
                cursor: pointer;
                -webkit-transition: background .15s ease-in-out;
                transition: background .15s ease-in-out;
            }
            .rangeSlider__range::-webkit-slider-thumb:hover {
                background: $primaryDark;
            }
            .rangeSlider__range:active::-webkit-slider-thumb {
                background: #393939;
            }
            .rangeSlider__range::-moz-range-thumb {
                width: 10px;
                height: 10px;
                border: 0;
                border-radius: 50%;
                background: $primary;
                cursor: pointer;
                -moz-transition: background .15s ease-in-out;
                transition: background .15s ease-in-out;
            }
            .rangeSlider__range::-moz-range-thumb:hover {
                background: $primaryDark;
            }
            .rangeSlider__range:active::-moz-range-thumb {
                background: #393939;
            }
            .rangeSlider__range:focus::-webkit-slider-thumb {
                //box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
            }
            
            .rangeSlider__value {
                @include roundedAll(10px);
                @include labels($tc: $white, $fs: 14px);
                display: block;
                width: 40px;
                line-height: 20px;
                height: 20px;
                text-align: center;
                background: $primary;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -10px;
            }
            .rangeSlider__value:after {
                position: absolute;
                top: 3px;
                left: -5px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-right: 7px solid $primary;
                border-bottom: 7px solid transparent;
                content: '';
            }
            
            ::-moz-range-track {
                background: #393939;
                border: 0;
            }
            
            input::-moz-focus-inner,
            input::-moz-focus-outer {
                border: 0;
            }
        }
        &.--rangeDefault.--withArrow {
            padding-left: 50px;
            &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 10px;
                left: 20px;
                background: red;
                background: url(#{$media_icons}icon_sub.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }
    
    // form with steps
    &__step {
        margin-top: 50px;
        h2 {
            margin-bottom: 10px;
        }
        &:first-of-type {
            margin-top: 0;
        }
    }
}
.c-stsSend {
    @keyframes animationRotateLoader {
        from {@include transforms(rotate(0deg), center)}
        to {@include transforms(rotate(360deg), center)}
    }
    position: relative;
    overflow: hidden;
    width: 100%;
    &__feedback {
        @include roundedAll($radius: 5px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        line-height: 28px;
        padding: 20px;
        &.--error {
            background: $feedbackError;
            span {
                color: $white;
            }
        }
        &.--loading, &.--load {
            background: $feedbackLoad;
            span {
                color: $text;
            }
            i {
                animation-name: animationRotateLoader;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
        &.--success {
            background: $feedbackSuccess ;
            span {
                color: $white;
            }
        }
        
        i {
            @include flexWidth(40px);
            max-height: 40px;
            svg {
                width: 40px;
                height: 40px;
            }
        }
        
        span {
            @include letterSpacing($psValue: 50);
            display: block;
            padding-left: 15px;
            font-size: 16px;
            line-height: 1.2;
        }
    }
}

// menus
.c-hamburguer {
    @include flexWidth(20px);
    @include transition();
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &__bar {
        @include transition();
        display: block;
        width: 100%;
        height: 1px;
        position: relative;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
    &.--gray {
        .c-hamburguer__bar {
            background: $darkGray;
        }
    }
    &.--white {
        .c-hamburguer__bar {
            background: $white;
        }
    }
    &.--primary {
        .c-hamburguer__bar {
            background: $primary;
        }
    }
    &.--secondary {
        .c-hamburguer__bar {
            background: $secondary;
        }
    }
    
    &.is-active {
        @include transforms(rotate(180deg), center);
        .c-hamburguer__bar {
            &:nth-child(1) {
                @include transforms(rotate(45deg), center);
                top: 7px;
            }
            &:nth-child(2) {
                @include opacity(0);
            }
            &:nth-child(3) {
                @include transforms(rotate(-45deg), center);
                top: -7px;
            }
        }
    }
}

// buttons / links / sub menu
$c_btn_heightDefault: 45px;
$c_btn_heightSmall: 36px;
$c_btn_maxWidth: 220px;
$c_btnIcon_heightDefault: 45px;
$c_btnIcon_heightSmall: 36px;
$c_btnIcon_maxWidth: 220px;
.c-btn {
    @include transition();
    position: relative;
    overflow: hidden;
    display: block;
    min-width: 130px;
    max-width: $c_btn_maxWidth;
    width: 100%;
    cursor: pointer;
    background: $primary;
    font-family: $fontFamily__p;
    height: $c_btn_heightDefault;
    line-height: $c_btn_heightDefault;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: $fwRegular;
    color: $white;
    white-space: nowrap;
    // default btns
    &.--primary {
        background: $primary;
        color: $white;
        &:hover {
            background: $primaryDark;
        }
    }
    &.--secondary {
        background: $secondary;
        color: $primaryDark;
        &:hover {
            background: $secondaryDark;
        }
    }
    &.--disabled {
        background: $lightGray;
        color: $baseGray;
        pointer-events: none;
    }
    // stroke btns
    &.--stroke {
        border: 2px solid;
        line-height: $c_btn_heightDefault - 4;
        &.--primary {
            background: transparent;
            color: $primary;
            border-color: $primary;
            &:hover {
                background: $primaryDark;
                border-color: $primaryDark;
                color: $white;
            }
        }
        &.--secondary {
            background: transparent;
            color: $secondary;
            border-color: $secondary;
            &:hover {
                background: $secondaryDark;
                border-color: $secondaryDark;
                color: $white;
            }
        }
        &.--disabled {
            background: transparent;
            color: $mediumGray;
            border-color: $mediumGray;
            pointer-events: none;
        }
    }
    // small
    &.--small {
        &.--primary {
            height: $c_btn_heightSmall;
            line-height: $c_btn_heightSmall;
        }
        &.--secondary {
            height: $c_btn_heightSmall;
            line-height: $c_btn_heightSmall;
        }
        &.--disabled {
            height: $c_btn_heightSmall;
            line-height: $c_btn_heightSmall;
        }
    }
    // small with stroke
    &.--small {
        &.--stroke {
            &.--primary {
                line-height: $c_btn_heightSmall - 4;
            }
            &.--secondary {
                line-height: $c_btn_heightSmall - 4;
            }
            &.--disabled {
                line-height: $c_btn_heightSmall - 4;
            }
        }
    }
}
.c-btnWithIcon {
    @include transition();
    @include roundedAll();
    position: relative;
    overflow: hidden;
    min-width: 130px;
    max-width: $c_btnIcon_maxWidth;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
    height: $c_btnIcon_heightDefault;
    line-height: $c_btnIcon_heightDefault;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $c_btnIcon_heightDefault;
        @include flexWidth(20px);
        svg {
            width: 20px;
            height: 20px;
            path {
                @include transition();
            }
        }
    }
    span {
        @include transition();
        text-transform: uppercase;
        font-size: 16px;
        font-weight: $fwRegular;
        white-space: nowrap;
        padding-left: 10px;
    }
    // default
    &.--primary {
        background: $primary;
        i {
            svg {
                path {
                    fill: $white;
                }
            }
        }
        span {
            color: $white;
        }
        &:hover {
            background: $primaryDark;
        }
    }
    &.--secondary {
        background: $secondary;
        i {
            svg {
                path {
                    fill: $white;
                }
            }
        }
        span {
            color: $white;
        }
        &:hover {
            background: $secondaryDark;
        }
    }
    &.--disabled {
        background: $lightGray;
        pointer-events: none;
        i {
            svg {
                path {
                    fill: $baseGray;
                }
            }
        }
        span {
            color: $baseGray;
        }
    }
    // stroke btns
    &.--stroke {
        border: 2px solid;
        &.--primary {
            background: transparent;
            border-color: $primary;
            i {
                svg {
                    path {
                        fill: $primary;
                    }
                }
            }
            span {
                color: $primary;
            }
            &:hover {
                background: $primary;
                i {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
                span {
                    color: $white;
                }
            }
        }
        &.--secondary {
            background: transparent;
            border-color: $secondary;
            i {
                svg {
                    path {
                        fill: $secondary;
                    }
                }
            }
            span {
                color: $secondary;
            }
            &:hover {
                background: $secondary;
                i {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
                span {
                    color: $white;
                }
            }
        }
        &.--disabled {
            background: transparent;
            border-color: $mediumGray;
            i {
                svg {
                    path {
                        fill: $mediumGray;
                    }
                }
            }
            span {
                color: $mediumGray;
            }
        }
    }
    // small
    &.--small {
        &.--primary {
            height: $c_btnIcon_heightSmall;
        }
        &.--secondary {
            height: $c_btnIcon_heightSmall;
        }
        &.--disabled {
            height: $c_btnIcon_heightSmall;
        }
    }
}
.c-subMenu {
    @include transition();
    display: block;
    position: relative;
    z-index: 4;
    // default styles
    > .c-subMenu__call {
        @include transition();
        display: block;
        width: 100%;
        position: relative;
        text-align: center;
        cursor: pointer;
        z-index: 2;
        &:after {
            @include transition();
            content: '';
            display: block;
            width: 12px;
            height: 6px;
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: url(#{$media_assets}caret-down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    > .c-subMenu__content {
        @include transition();
        @include scroll();
        @include calc(max-height, 100vh, '-', 300px);
        @include u-hideElement;
        @include transforms(translateX(-50%), center);
        @include roundedAll();
        border: 1px solid $lightGray;
        overflow-y: auto;
        overflow-x: hidden;
        display: block;
        width: 250px;
        position: absolute;
        top: 80px;
        left: 50%;
        background: $white;
        padding: 10px;
        z-index: 2;
        ul li {
            a {
                @include roundedAll();
                @include transition();
                display: block;
                padding: 10px;
                color: $text;
                &:hover {
                    background: $mutedGray;
                }
            }
        }
    }
    .c-subMenu__mask {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.10);
        z-index: 1;
        display: none;
    }
    
    // sub menu level 1 ativo
    &.is-active {
        z-index: 3;
        > .c-subMenu__call {
            &:after {
                @include transforms(rotate(180deg), center);
            }
        }
        > .c-subMenu__content {
            @include u-showElement;
            top: 40px;
        }
        .c-subMenu__mask {
            display: block;
        }
    }
    
    // sub level 2
    .c-subMenu {
        @include roundedAll();
        border: 1px solid transparent;
        margin-bottom: 0;
        > .c-subMenu__call {
            text-align: left;
            padding-right: 30px;
            font-weight: bold;
            &:after {
                right: 10px;
                left: inherit;
                bottom: 50%;
                @include transforms(translateY(50%), center);
            }
        }
        > .c-subMenu__content {
            @include transforms(translateX(0), center);
            width: 100%;
            left: 0;
            top: 0;
            background: $white2;
            overflow: hidden;
            position: relative;
            padding: 0 10px;
            max-height: 0;
            border: 0;
        }
        &.is-active {
            border-color: $lightGray;
            background: $mutedGray;
            margin-bottom: 5px;
            > .c-subMenu__call {
                &:after {
                    @include transforms(rotate(180deg), center);
                }
            }
            > .c-subMenu__content {
                overflow-y: auto;
                padding: 10px;
                max-height: 400px;
            }
        }
    }
    
    // sub with c-btn
    &.--with-c-btn {
        > .c-subMenu__call {
            max-width: 100%;
            text-align: left;
            padding-right: 50px;
            padding-left: 20px;
            &.c-btnWithIcon {
                display: flex;
            }
            &.--primary {
                &:after {
                    background: url(#{$media_assets}caret-down-white.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
            &:after {
                @include transforms(translateY(50%), center);
                left: inherit;
                right: 20px;
                bottom: 50%;
            }
        }
        &.is-active {
            > .c-subMenu__content {
                top: $c_btn_heightDefault;
            }
        }
    }
    
    // mobile
    &.--mobile {
        .c-subMenu__mask {
            display: none !important;
        }
        > .c-subMenu__call {
            text-align: left;
            padding-right: 30px;
            &:after {
                @include transforms(translateY(-50%), center);
                left: inherit;
                bottom: inherit;
                right: 0;
                top: 50%;
            }
        }
        > .c-subMenu__content {
            @include transforms(translateX(0), center);
            overflow-y: hidden;
            max-height: 0;
            position: relative;
            top: 0;
            left: 0;
            padding: 0 10px;
            display: block;
            width: 100%;
            border: 0;
            background: $white3;
        }
    
        &.is-active {
            > .c-subMenu__call {
                &:after {
                    @include transforms(translateY(50%) rotate(180deg), center);
                }
            }
            > .c-subMenu__content {
                overflow-y: auto;
                top: 0;
                padding: 10px;
                max-height: 2500px;
                margin: 10px 0 20px 0;
            }
        }
    
        .c-subMenu {
            .c-subMenu__call {
                padding-right: 35px;
                &:after {
                    right: 10px;
                }
            }
        }
    }
}
$c_subMenuHover_defaultHeight: 30px;
.c-subMenuHover {
    position: relative;
    width: 100%;
    > a {
        display: block;
        padding: 0 15px;
        height: $c_subMenuHover_defaultHeight;
        line-height: $c_subMenuHover_defaultHeight;
        border: 1px solid red;
        position: relative;
        &:after {
            content: '+';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: $c_subMenuHover_defaultHeight;
            line-height: $c_subMenuHover_defaultHeight;
            background: orange;
        }
        &.is-blocked-mobile {
            pointer-events: none;
        }
    }
    
    &__sub {
        @include transition();
        @include u-hideElement;
        display: block;
        width: 100%;
        position: absolute;
        background: $mutedGray;
    }
    
    &.--thisOpenInBottom {
        > .c-subMenuHover__sub {
            @include transforms(translateX(-50%), center);
            top: 40px;
            left: 50%;
            min-width: 150px;
            max-width: 450px;
        }
    }
    &.--thisOpenInRight {
        > .c-subMenuHover__sub {
            @include calc(left, 100%, '+', 10px);
            top: 0;
            min-width: 150px;
            max-width: 200px;
        }
    }
    &.--thisOpenInLeft {
        > .c-subMenuHover__sub {
            @include calc(right, 100%, '+', 10px);
            top: 0;
            min-width: 150px;
            max-width: 200px;
        }
    }
    
    &:hover {
        > .c-subMenuHover__sub {
            @include u-showElement;
        }
        &.--thisOpenInBottom {
            > .c-subMenuHover__sub {
                top: $c_subMenuHover_defaultHeight;
            }
        }
        &.--thisOpenInRight {
            > .c-subMenuHover__sub {
                left: 100%;
            }
        }
        &.--thisOpenInLeft {
            > .c-subMenuHover__sub {
                right: 100%;
            }
        }
    }
}
.c-whatsAppLink {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 60px;
    z-index: 12;
    &__icon {
        @include roundedAll(50%);
        @include flexWidth(60px);
        @include transition();
        background: $whatsappPrimary;
        background: radial-gradient(circle, $whatsappPrimary 0%, $whatsappSecondary 100%);
        -webkit-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 29px -3px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        height: 60px;
        cursor: pointer;
        img, svg {
            @include transition();
            @include transforms(rotate(10deg));
            width: 30px;
            height: 28px;
            display: block;
            path {
                fill: $white !important;
            }
        }
        &:hover {
            @include transforms(scale(1.1), center);
        }
    }
    &__infos {
        @include u-hideElement;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        text-align: right;
        div {
            @include flexWidth(100%);
            display: block;
            width: 100%;
            max-height: 24px;
        }
        span {
            position: relative;
            right: -60px;
            display: inline-block;
            font-weight: 700;
            padding: 0 40px 0 15px;
            height: 24px;
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            &.wppCaption {
                @include transition();
                background: $mutedGray;
                color: $whatsappSecondary;
                font-size: 13px;
                @include letterSpacing(20);
                @include rounded(top, left, 15px);
                @include rounded(bottom, left, 15px);
                @include rounded(top, right, 15px);
            }
            &.wppNumber {
                @include transition($delay: 100ms);
                background: $white;
                color: $whatsappSecondary;
                font-size: 14px;
                @include letterSpacing(0);
                @include rounded(bottom, left, 15px);
                @include rounded(bottom, right, 15px);
            }
        }
    }
    &:hover {
        max-width: 480px;
        .m_whatsApp__infos {
            @include transition($delay: 100ms);
            @include u-showElement;
            span {
                right: -25px;
            }
        }
        .m_whatsApp__icon {
            img, svg {
                @include transforms(rotate(0deg));
            }
        }
    }
}

// lists
.c-infosContato {
    display: block;
    li {
        display: block;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        i {
            @include flexWidth(40px);
            padding-right: 10px;
            svg {
                width: 30px;
                height: 30px;
                display: block;
                path {
                    @include transition();
                    fill: $primary;
                }
            }
        }
        .caption {
            @include transition();
            @include paragrafos();
            font-style: normal;
        }
        &:hover {
            i {
                svg path {
                    fill: $secondary;
                }
            }
            .caption {
                color: $secondary;
            }
        }
    }
}
.c-socialList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    li {
        padding: 3px;
    }
    a {
        display: block;
    }
    svg {
        display: block;
        width: 20px;
        height: 20px;
        path, circle {
            @include transition();
        }
    }
    &.--rounded {
        a {
            @include transition();
            @include roundedAll(50%);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
        }
        &.--primary {
            a {
                background: $primary;
                svg path, svg circle {
                    fill: $white !important;
                }
                &:hover {
                    background: $primaryDark;
                }
            }
        }
        &.--secondary {
            a {
                background: $secondary;
                svg path, svg circle {
                    fill: $white !important;
                }
                &:hover {
                    background: $secondaryDark;
                }
            }
        }
        &.--white {
            a {
                background: $white;
                svg path, svg circle {
                    fill: $baseGray !important;
                }
                &:hover {
                    background: $white3;
                }
            }
        }
    }
    &.--default {
        a {
            @include transition();
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
        }
        &.--primary {
            a {
                svg path, svg circle {
                    fill: $primary !important;
                }
                &:hover {
                    svg path, svg circle {
                        fill: $primaryDark !important;
                    }
                }
            }
        }
        &.--secondary {
            a {
                svg path, svg circle {
                    fill: $secondary !important;
                }
                &:hover {
                    svg path, svg circle {
                        fill: $secondaryDark !important;
                    }
                }
            }
        }
        &.--white {
            a {
                svg path, svg circle {
                    fill: $white !important;
                }
                &:hover {
                    svg path, svg circle {
                        fill: $white3 !important;
                    }
                }
            }
        }
    }
}

// grid e tabs
.c-responsiveGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &.--col12 {> li {@extend .u-fw8;}}
    &.--col11 {> li {@extend .u-fw9;}}
    &.--col10 {> li {@extend .u-fw10;}}
    &.--col9 {> li {@extend .u-fw11;}}
    &.--col8 {> li {@extend .u-fw12;}}
    &.--col7 {> li {@extend .u-fw14;}}
    &.--col6 {> li {@extend .u-fw16;}}
    &.--col5 {> li {@extend .u-fw20;}}
    &.--col4 {> li {@extend .u-fw25;}}
    &.--col3 {> li {@extend .u-fw33;}}
    &.--col2 {> li {@extend .u-fw50;}}
    &.--col1 {> li {@extend .u-fw100;}}
    &.--colNaN {
        > li {
            flex: 1 1 auto;
        }
    }
}
.c-tabHorizontal {
    display: block;
    width: 320px;
    max-width: 100%;
    overflow: hidden;
    &__header {
       display: flex;
       flex-direction: row;
       align-items: stretch;
       justify-content: space-between;
       flex-wrap: nowrap;
       background: $primary;
       ul {
           @include scroll($size: 10px);
           @include transforms(rotate(180deg), center);
           background: $primary;
           direction: rtl;
           flex: 1 1 auto;
           overflow: auto;
           white-space: nowrap;
       }
       li {
           @include transforms(rotate(180deg), center);
           display: inline-block;
       }
       a {
           background: $primary;
           display: block;
           color: $white;
           text-align: center;
           padding: 14px;
           text-decoration: none;
           &:hover {
               background: $primaryDark;
           }
           &.is-active {
               color: $primary;
               background: $secondaryLight;
           }
       }
       &.is-scroll {
           .scrollBtn {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: center;
           }
       }
   }
    &__content {
        @include transition();
        @include u-hideElement;
        display: block;
        padding: 20px;
        border-left: 2px solid $primary;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        &.is-active {
            @include u-showElement;
        }
    }
}
.c-toggleList {
    margin-bottom: 10px;
    &:last-of-type {
        margin-bottom: 0;
    }
    &__header {
        background: $primary;
        padding: 10px 20px;
        padding-right: 45px;
        display: block;
        position: relative;
        cursor: pointer;
        &:hover {
            background: $primaryDark;
        }
        > * {
            @include transition();
            color: $white;
        }
        &:after {
            @include transition();
            @include transforms(translateY(-50%), center);
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            right: 20px;
            top: 50%;
            background: url(#{$media_assets}caret-down-white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    &__content {
        @include transition();
        @include u-hideElement;
        display: block;
        padding: 0 20px;
        border-left: 2px solid $primary;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        overflow: hidden;
        max-height: 0;
    }
    
    &.is-active {
        .c-toggleList__header {
            > * {
                color: $secondary;
            }
            &:after {
                @include transforms(translateY(-50%) rotate(180deg), center);
            }
        }
        .c-toggleList__content {
            @include u-showElement;
            overflow: auto;
            padding: 20px;
            max-height: inherit;
        }
    }
}

// ui
.c-linkVideo {
    display: block;
    position: relative;
    background: $primary;
    &__cover {
        @include opacity(0.5);
        @include transition();
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        object-fit: cover;
    }
    &__play {
        @include transition();
        @include roundedAll(50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        background: $secondary;
        position: absolute;
        top: 50%;
        z-index: 2;
        left: 50%;
        margin-left: -40px;
        margin-top: -40px;
        img {
            display: block;
            width: 14px;
        }
        &:hover {
            @include scale(1.1, center);
        }
    }
    &:hover {
        .c-linkVideo__cover {
            @include opacity(0.85)
        }
    }
}
.c-linkArrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: $secondary;
    img {
        width: 7px;
    }
    &:hover {
        background: $secondaryDark;
    }
}

//cards
.c-cardPodcast {
    &__figure {
    
    }
    &__description {
        @include transition();
        padding: 25px 25px 40px 25px;
        background: $primaryLight;
        h2 {
            @include paragrafos($tc: $white, $fs: 16px, $fw: $fwRegular);
            font-family: $fontFamily__default;
        }
    }
    &__link {
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -20px;
    }
    &:hover {
        .c-cardPodcast__description {
            background: $primaryDark;
        }
    }
}
.c-cardEvent {
    display: block;
    max-width: 200px;
    padding: 0 15px;
    h2, span, p {
        color: #3C3C3C;
        line-height: 1;
    }
    h2 {
        font-size: 33px;
    }
    .local {
        font-size: 16px;
    }
    p {
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .c-btn {
        max-width: 100px;
        color: $white;
        font-family: $fontFamily__default;
        font-size: 13px;
    }
}
.c-cardPost {
    &__figure {
    
    }
    &__title {
        @include transition();
        padding: 25px;
        background: $primaryDark;
        h2 {
            @include paragrafos($tc: $white, $fs: 18px, $fw: $fwRegular);
            font-family: $fontFamily__default;
            text-align: center;
        }
    }
    &__link {
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -20px;
    }
    &:hover {
        .c-cardPost__title {
            background: $primaryLight;
        }
    }
}