// l-nav
@media screen and (max-width: 920px) {
    .l-nav {
        &__contentHero {
            @include transition();
            overflow-x: hidden;
            overflow-y: auto;
            display: block;
            background: $white;
            height: 100vh;
            position: fixed;
            right: -300px;
            top: 0;
            width: 260px;
            max-width: 100%;
            padding-bottom: 70px;
            &.is-active {
                right: 0;
            }
        }
        &__menu {
            border-bottom: 1px solid $mutedGray;
            padding: 10px 0;
            background: $white;
            > li, > li a {
                width: 100%;
                display: block;
                text-align: right;
            }
            > li a {
                padding: 10px 20px;
                color: $text;
            }
        }
        &__social {
            padding: 20px;
            border-bottom: 1px solid $mutedGray;
            .c-socialList {
                justify-content: flex-end;
            }
        }
        &__cta {
            padding: 20px;
            .c-btn,
            .c-btnWithIcon {
                max-width: 100%;
            }
        }
        
        &__showOnlyInResponsive {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding-right: 45px;
            flex: 1 1 auto;
            .l-nav__cta {
                padding: 0;
            }
        }
    
        &__maskMenu.maskAll,
        &__maskMenu.maskMenu {
            background: rgba(0,0,0,0.75);
            &.maskMenu {
                display: none;
            }
        }
        
        .c-hamburguer {
            display: block;
            &.is-active {
                margin-top: -25px;
                right: 270px;
            }
        }
        
        .c-subMenu {
            .c-subMenu__mask {
                display: none !important;
            }
            > .c-subMenu__call {
                text-align: right;
                padding-right: 45px;
                &:after {
                    @include transforms(translateY(50%), center);
                    left: inherit;
                    right: 20px;
                    bottom: 50%;
                }
            }
            > .c-subMenu__content {
                overflow-y: hidden;
                max-height: 0;
                position: relative;
                top: 0;
                padding: 0 10px;
            }
            
            &.is-active {
                > .c-subMenu__call {
                    &:after {
                        @include transforms(translateY(50%) rotate(180deg), center);
                    }
                }
                > .c-subMenu__content {
                    overflow-y: auto;
                    top: 0;
                    padding: 10px;
                    max-height: 2500px;
                }
            }
            
            .c-subMenu {
                .c-subMenu__call {
                    padding-right: 35px;
                    &:after {
                        right: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 780px) {
    .u-maxRow {
        padding-top: 74px;
    }
    .l-nav {
        padding: 10px 0;
        &__brand {
            @include flexWidth(175px);
        }
        .c-hamburguer {
            &.is-active {
                margin-top: 5px;
            }
        }
        &.scrolled {
            .c-hamburguer {
                &.is-active {
                    margin-top: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .l-nav {
        &__showOnlyInResponsive {
            display: none;
        }
    }
}