@mixin paragrafos(
    $tc: $text,
    $fw: $fwLight,
    $fs: 18px,
    $lh: 1.2,
    $mb: 20px,
    $mbLOT: 0,
    $important: false
) {
    color: $tc is-important($important);
    font-size: $fs is-important($important);
    font-weight: $fw is-important($important);
    margin-bottom: $mb;
    font-family: $fontFamily__p;
    line-height: $lh is-important($important);
    &:last-of-type {
        margin-bottom: $mbLOT;
    }
    strong {
        font-weight: $fwBold;
        color: $tc;
        font-size: $fs;
        line-height: $lh;
    }
    a {
        color: $secondary;
        font-size: $fs;
        font-weight: $fw;
        line-height: $lh;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    @media screen and (max-width: 430px) {
        font-size: $fs - 2;
        a, strong {
            font-size: $fs - 2;
        }
    }
}

@mixin labels(
    $tc: $text,
    $fs: 16px,
    $important: false
) {
    color: $tc is-important($important);;
    font-size: $fs is-important($important);;
    line-height: 1.2 is-important($important);;
    font-weight: $fwMedium is-important($important);;
}